body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}
a {
    text-decoration: none;
    }
    
    ul,
    ol {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    h1, h2, h3, h4, h5, h6, p{
        margin: 0;

    }
    img{
        display: block
    }
.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/* HEADER */
.header-block{

    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container{
    display: flex;
    align-items: center;
}
.nav-block{
    display: flex;
    align-items: center;
}
.logo{
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    
}

.nav-menu{
    display: flex;
    gap: 40px
;
}
.span{
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.contact-link{
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.contact-link.current{
    position: relative;

}
.contact-link.current::after{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;


}
.contact-link:hover,
.contact-link.current,
.contact-link:focus{
    color: #404bbf;

}

 .address{
    font-style: normal;
    margin-left: auto;
  
}

.contact-address-link:hover,
.contact-address-link:focus{
    color: #404bbf;
}
.nav-block{
    text-align: left;
    background-color: #FFFFFF;
}


.contact-address{
    text-align: right;
    font-style: normal;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
  
}
.team-item_first{
    background-color: #FFFFFF;
}

.first-block{
    background-color: #2E2F42;
    text-align: center;
    line-height: 1.07;
    padding: 188px 0;   
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/background-hero/people-office.jpg);
    max-width: 1440px; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}























.our-team-block{
  background-color: #F4F4FD;
    text-align: center;
    padding: 120px 0;
}
.team-menu{
    display: flex;
    gap: 24px;
    
}
.team-item_first{
    border-radius: 0px 0px 4px 4px;
  
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 }
.keriv-pos{
    padding: 32px 0
    }
.content-item-ourteam{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px; 

}
.team-listli{
    row-gap: 48px; 
}
.team-li{
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.team-li:hover{
    transform: translateY(0%);
    
}
.our-team-list li:hover .team-p{
    transform: translateY(0%);
} 
.div-imgs{
    position: relative;
    overflow: hidden;
}
.team-p{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding: 40px 32px; 
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color:#4d5ae5;
}
.container-team{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
   
}


.our-team-posiotion{
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;
}


.our-team{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
     
    
}

.icon-link-team{
display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.icon-link-team:hover,
.icon-link-team:focus{
    background-color: #404bbf;
}

.icon-list{
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    align-self: flex-end;
    margin-left: 16px;
    margin-top: 8px;
    margin-right: 16px;
    justify-content: center;
}


.name-app{
    padding: 32px 16px
}

.our-team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px; 
}
.portfolio-section{
    text-align: center;
    padding-top: 120px; 
    padding-bottom: 120px;
}





.footer-section{
    
    background-color: #2E2F42;
    padding: 100px 0;
    
}
.footer-text{
    color: #F4F4FD;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.container-footer{
    display: flex;
    align-items: baseline
}
.div-a-p{
    margin-right: 120px;
    padding-left: 156px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.span-footer{
    color: #F4F4FD;
   
}
.logo-footer{
    display: inline-block; 
    margin-bottom: 16px; 
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.icon-list-footer{
display: flex;
gap: 16px;
flex-shrink: 0;
align-self: flex-end;
margin-left: 16px;
margin-top: 8px;
margin-right: 16px;
justify-content: center;


}
.icon-link-team-footer{
    display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #4d5ae5;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
    }
.icon-link-team-footer:hover {
        background-color:#31d0aa;
    }

.icon-link-team-footer:focus {
    background-color:#31d0aa;
}
.social-media{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px; 
}
.sub-p{
    margin-bottom: 16px; 
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
}
.footer-form{
    display: flex;
    gap: 24px;
}
.input-footer{
    width: 264px; 
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px; 
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    border-radius: 4px; 
    color: #ffffff; 
}
.button-footer{
    min-width: 165px;
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
cursor: pointer;
background-color: #4D5AE5;
border: none;
border-radius: 4px;

}
.svg-footer{
    color: #fcfcfc;
    margin-left: 16px; 
}

.backdrop{
position: fixed;
top: 0;
left: 0;
z-index: 9999999999;
width: 100%;
height: 100%;
background: rgba(46, 47, 66, 0.4);
visibility: hidden;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open{
    opacity: 1;
    visibility: visible;
}
.modal{
    position: absolute;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
width: 408px;
min-height: 584px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background-color: #fcfcfc;
padding: 72px 24px 24px 24px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-p{
    
    width: 360px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
   
   
}
.div-footer-name{
   
    position: relative;
    margin-bottom: 8px;
    
}
.name-footer{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: #8e8f99; 
    display: block; 
    margin-bottom: 4px; 
}
.input-name{
    width: 100%; 
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px; 
    background-color: transparent;
    padding-left: 38px; 
    outline: transparent; 
    border: 1px solid rgba(46, 47, 66, 0.4); 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color: #4D5AE5; 
    border: 1px solid rgba(46, 47, 66, 0.4);
}
.input-name:focus,
.input-name:focus .svg-name{
    border-color: #4D5AE5; 
    fill: #4d5ae5;
   
    
}

.div-input{
    margin-bottom: 8px; 
}
.div-footer-name-textarea{
    margin-bottom: 16px;
}

.svg-name{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-input{
    position: relative; 
}
.svg-name:focus{
    fill: #4D5AE5; 
   
}
.modal-button{
display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
background-color: #e7e9fc;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.1);
align-items: center;
justify-content: center;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
border: 1px solid rgba(0, 0, 0, 0.1); 
padding: 0; 
cursor: pointer;

}
.icon-close{
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

 
 .modal-button:hover .icon-close,
  .modal-button:focus .icon-close{
    fill: #ffffff;
    border: none;
    background-color: #404bbf;
    
  }
  .modal-button:focus{
    background-color: #404bbf;
    border: none;
  }
  .modal-button:hover ,
  .imodal-button:focus {
    background-color: #404bbf;
    border: none;
    
  }
  
  .comment-box:checked+.accept-lable > .span-accept {
    background-color:#404bbf;
    border: none; 
    fill: #F4F4FD; 
  }
  .textera-footer{
    width: 100%;
    height: 120px; 
    font-size: 12px; 
    line-height: 1.17; 
    letter-spacing: 0.04em; 
    color: rgba(46, 47, 66, 0.4);

    border-radius: 4px; 
    background-color: transparent; 
    padding: 8px 16px; 
    outline: transparent; 
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    border-color: #4D5AE5;
    border: 1px solid rgba(46, 47, 66, 0.4);
   
  }
  .input-name:focus + .svg-name {
    fill: #4D5AE5;
    border-color: #4D5AE5;
  }
  
  .accept-lable{
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: #8e8f99;
    
  }
  .span-accept{
     border: none; 
    width: 16px; 
    height: 16px; 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;   
    align-items: center;
    justify-content: center; 
    fill: transparent; 
    margin-right: 8px;
}
.checkbox:checked+.accept-lable>.span-accept {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}
.textera-footer{
    width: 100%; 
    height: 120px;
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em; 
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent; 
    padding: 8px 16px; 
    outline: transparent; 
    resize: none; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    border-color: #4D5AE5; 
    border: 1px solid rgba(46, 47, 66, 0.4);
}
.textera-footer:focus{
    border-color: #4D5AE5; 
}
  
.privacy{
    text-decoration: underline;
    color:#4d5ae5;
}
.button-last{
    display: block; 
    border-radius: 4px;
    margin-top: 24px;
    margin: auto;
    margin-top: 24px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif ;
    font-size: 16px;
    font-weight: 500 ;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff ;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.comment-box-div{
    margin-bottom: 24px; 
}